$font: 'Roboto', sans-serif;
$primary-color: #4F5A68;
$secondary-color: #D9D9D9;
$background-color: #F8F9FF;
$navbar-text-color: #3B3C3F;

nav {
    font-weight:700;
}

#logo span {
    font-size: 1.6rem;
}

.media {
    margin-left: 2rem;
}

@import "~bootswatch/dist/morph/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/morph/bootswatch"; 


