{% block navbar %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
<div class="container-fluid">
    <a class="navbar-brand text-center" id="logo" href="/"><span>W</span><p>series</p></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-3 me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Aventure</a></li>
                    <li><a class="dropdown-item" href="#">Comedy</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Actors
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Addison Timlin</a></li>
                    <li><a class="dropdown-item" href="#">Alyson Stoner</a></li>
                    <li><a class="dropdown-item" href="#">Alyvia Alyn Lind</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Watchlist</a>
            </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light" type="submit">Search</button>
        </form>
        <div class="d-flex flex-row-reverse">
            {% if app.user %}
                <p class="mb-0">  {{ app.user.email }} </p>
                {# <img src="" alt=""> #}
                <form action="{{ path('app_logout') }}" method="post">
                    <button type="submit" class="btn btn-light">Logout</button>
                </form>
            {% else %}
            <form action="{{ path('app_login') }}" class="container-fluid justify-content-start">
                <button class="btn btn-secondary" id="login" type="submit">login</button>
            </form>
            {% endif %}
        </div>
        
    </div>
</div>
{% endblock %}